<heading [elementText]="'Student details'" [elementType]="'h1'"></heading>

<table class="table table-striped" *ngIf="studentDetails.length > 0">
  <thead>
    <tr>
      <th
        class="tableHeader"
        *ngFor="let col of headerDetails"
        (click)="sortOrders(col)"
        scope="col"
      >
        {{ col }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of studentDetails">
      <td>{{ student.ID }}</td>
      <td>{{ student.Name }}</td>
      <td>{{ student.Course }}</td>
      <td>{{ student.Marks }}</td>
    </tr>
  </tbody>
</table>
