<div class="container">
  <header>
    <nav class="nav nav-tabs justify-content-center">
      <a class="nav-link" routerLinkActive = "active" routerLink="/route-1">Route-1</a>
      <a class="nav-link" routerLinkActive = "active" routerLink="/route-2">Route-2</a>
      <a class="nav-link" routerLinkActive = "active" routerLink="/route-3">Route-3</a>
      <a class="nav-link" routerLinkActive = "active" routerLink="/route-4">Route-4</a>
      <a class="nav-link" routerLinkActive = "active" routerLink="/route-5">Route-5</a>
      <a class="nav-link" routerLinkActive = "active" routerLink="/route-6">Route-6</a>
    </nav>
  </header>
  <router-outlet></router-outlet>
</div>


