<label for="inpt">Enter Timer Limit</label>: <input id="inpt" type="number" min="1" step="1" [(ngModel)]="inputField" />

<br />

<button
  (click)="sendToParent()"
  class="btn btn-primary"
  [ngStyle]="{ cursor: inputField > 0 ? 'pointer' : 'not-allowed' }"
  [disabled]="inputField > 0 ? false : true"
>
  Start/Pause
</button>
<button
  (click)="sendToReset()"
  class="btn btn-primary"
  [ngStyle]="{ cursor: inputField > 0 ? 'pointer' : 'not-allowed' }"
  [disabled]="inputField > 0 ? false : true"
>
  Reset
</button>
