<div class="product-header">
  <div class="btn-group">
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="onDisplayModeChange('grid')"
      [ngStyle] = "{'background-color': displayMode === 'grid' ? '#007bff' : '#fff'}"
    >
      Grid
    </button>

    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="onDisplayModeChange('list')"
      [ngStyle] = "{'background-color': displayMode === 'list' ? '#007bff' : '#fff'}"
    >
      List
    </button>
  </div>
  <select id="sort-by" (change)="sort($event)" class="select-box">
    <option value="" selected disabled hidden>Sort By</option>
    <option value="Low">Show Low to High Price</option>
    <option value="High">Show High to Low Price</option>
  </select>
</div>

<div
  class="row row-cols-1 row-cols-md-4 product"
  *ngIf="products"
  [ngClass]="{ list: displayMode === 'list' }"
>
  <div class="col mb-4 items" *ngFor="let product of products">
    <div class="card h-100">
      <img
        src="{{ product.image }}"
        class="card-img-top"
        alt="{{ product.name }}"
      />
      <div class="card-body">
        <h5 class="card-title">Product Title: {{ product.name }}</h5>
        <p class="card-text">Price: {{ product.price }}</p>
      </div>
    </div>
  </div>
</div>
