.product.list .items{
    flex: 0 0 50%;
    max-width: 50%;
}

.items h5{
   font-size: 1em;
}

.product-header{
    display: flex;
    margin: 20px 0px;
    flex-direction: row-reverse;

}

.product-header .select-box{
   margin-right: 2em;
}

.product-header button{
    color:#6c757d;
    font-weight: bold;
}