<heading [elementText]="'Category Page'" [elementType]="'h1'"></heading>

<div class="product-header">
  <div class="btn-group">
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="onDisplayModeChange('grid')"
      [ngStyle]="{
        'background-color': displayMode === 'grid' ? '#007bff' : '#fff'
      }"
    >
      Grid
    </button>

    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="onDisplayModeChange('list')"
      [ngStyle]="{
        'background-color': displayMode === 'list' ? '#007bff' : '#fff'
      }"
    >
      List
    </button>
  </div>
  <select id="sort-by" (change)="sort($event)" class="select-box">
    <option value="" selected disabled hidden>Sort By</option>
    <option value="Low">Show Low to High Price</option>
    <option value="High">Show High to Low Price</option>
  </select>
</div>

<div class="product-container" [ngClass]="{ list: displayMode === 'list' }">
  <cards
    *ngFor="let product of products"
    [cardImage]="product.image"
    [cardName]="product.name"
    [cardPrice]="product.price"
  >
  </cards>
</div>
